// swift-tools-version:5.6

import PackageDescription

let package = Package(
  name: "ServiceSDK-iOS",
  products: [
    .library(
      name: "ServiceSDK-iOS",
      type: .static,
      targets: ["ServiceSDK-iOS"]
    ),
  ],
  targets: [
    .target(
      name: "ServiceSDK-iOS",
      dependencies: [
        _TARGET_DEPENDENCIES_]
    ),
    _WRAPPER_TARGETS__BINARY_TARGETS_]
)


